image:
    name: ubuntu:24.04

stages:
    - lint
    - test

lint:
    stage: lint
    before_script:
        - apt-get update && apt-get install -y curl build-essential clang
        - curl -LsSf https://astral.sh/uv/install.sh | sh
        - source $HOME/.local/bin/env
        - uv sync --all-extras --dev
    script:
        - uv run ruff check --output-format=gitlab --output-file=codequality.json || uv run ruff check --output-format=concise --output-file=codequality.txt || uv run ruff check --output-format=concise
    artifacts:
        paths:
        - public
        - codequality.*
        reports:
            codequality: codequality.json
        when: always
        expire_in: '30 days'

test_no_extras:
    stage: test
    before_script:
        - apt-get update && apt-get install -y curl build-essential clang
        - curl -LsSf https://astral.sh/uv/install.sh | sh
        - source $HOME/.local/bin/env
        - uv sync --dev
    script:
        - uv run pytest --junitxml=report.xml --cov=mpc_controller --cov=pilots --cov=simulation_core --cov=simulation_manager --cov-report=xml --cov-report=html --cov-report=term-missing test
        - uv run pycobertura show --format html --output coverage_cobertura.html coverage.xml
    artifacts:
        when: always
        expire_in: "30 days"
        reports:
            junit: report.xml
            coverage_report:
                coverage_format: cobertura
                path: coverage.xml
        paths:
            - coverage.xml
            - htmlcov
            - coverage_cobertura.html
            - test/test_simple_scenario/results/test_openx_export
