# Base on python3 image
image:
    name: gitlab.ika.rwth-aachen.de:5050/fb-fi/simulation/simple-simulation/simulation-manager:2.1.4

stages:
    - test
    - package

variables:
    PIP_CACHE_DIR: "$CI_PROJECT_DIR/.cache"
    GIT_SUBMODULE_STRATEGY: recursive
    GIT_SUBMODULE_DEPTH: 1

# SUBMODULES: https://docs.gitlab.com/ee/ci/git_submodules.html#use-git-submodules-in-cicd-jobs
# TODO job tokens: https://docs.gitlab.com/ee/ci/jobs/ci_job_token.html#control-job-token-access-to-your-project

# Cache the paths for pip and the venv
cache:
    paths:
        - .cache/
        - venv/

# Install requirements
before_script:
    - pwd
    - ls
    - ls submodules
    - export PYTHONPATH=$(pwd)
    - export PYTHONPATH=$PYTHONPATH:$(pwd)/submodules/pilots
    - export PYTHONPATH=$PYTHONPATH:$(pwd)/submodules/lanelet-network-wrapper
    - export PYTHONPATH=$PYTHONPATH:$(pwd)/submodules/mpc-controller
    - export PYTHONPATH=$PYTHONPATH:$(pwd)/submodules/simulation-core
    - export PYTHONPATH=$PYTHONPATH:$(pwd)/submodules/simple-scenario
    - python -V
    - python -m pip --version
    - python -m pip freeze
    - echo $PYTHONPATH

linting:
    stage: test
    before_script:
        - python -m pip install ruff
    script:
        - ruff check --output-format=gitlab --output-file=codequality.json || ruff check --output-format=concise --output-file=codequality.txt || ruff check --output-format=concise
    artifacts:
        paths:
        - public
        - codequality.*
        reports:
            codequality: codequality.json
        when: always
        expire_in: '30 days'
    # allow_failure: true

test_and_coverage:
    stage: test
    script:
        - python -m pip install pycobertura pytest pytest-cov coverage
        - python -m pytest --cache-clear -ra --cov=simulation_manager --cov=submodules/mpc_controller --cov=submodules/pilots --cov=submodules/simulation-core --junitxml=report.xml test
        - python -m coverage report
        - python -m coverage xml
        - python -m pycobertura show --format html --output coverage.html coverage.xml
    coverage: '/\d+\%\s*$/'
    artifacts:
        when: always
        expire_in: "30 days"
        reports:
            junit: report.xml
            coverage_report:
                coverage_format: cobertura
                path: coverage.xml
        paths:
            - coverage.xml
            - coverage.html
            - test/test_results/ba_neunzig

# package:
#     stage: package
#     only:
#         - tags
#     before_script:
#         - python --version
#         - python -m pip --version  # For debugging
#     script:
#         - python -m pip install build twine
#         - python -m build
#         - TWINE_PASSWORD=${CI_JOB_TOKEN} TWINE_USERNAME=gitlab-ci-token python -m twine upload --verbose --repository-url ${CI_API_V4_URL}/projects/${CI_PROJECT_ID}/packages/pypi dist/*
#     rules:
