loguru
reportlab
orjson
tqdm
simple_scenario
matplotlib
numpy
commonroad-io==2022.1
commonroad-drivability-checker==2022.1
commonroad-vehicle-models==3.0.2
opencv-python



# General
loguru==0.7.0
numpy==1.24.4
scipy==1.10.1
matplotlib==3.7.2
orjson==3.10.7
# opencv-python==4.8.0.76  # Installed and built manually in Dockerfile
pandas==2.0.3

# CommonRoad

gym==0.21
aenum==3.1.15
Shapely==1.8.5.post1

# MPC-controller requirements
onnx==1.14.0
asyncua==1.0.3
do-mpc==4.6.0

# SimpleScenario requirements
lanelet2==1.2.1
pyclothoids==0.1.4
scenariogeneration==0.14.3

# Evaluation
reportlab[pycairo]==4.2.0
tqdm==4.66.5

# simulation-core
# General
loguru==0.7.0
numpy==1.24.4
scipy==1.10.1
matplotlib==3.7.2
opencv-python==4.8.0.76  # Need to built from sources! see simulation manager's Dockerfile.
pandas==2.0.3

# CommonRoad
commonroad-io==2022.1
commonroad-drivability-checker==2022.1
commonroad-vehicle-models==3.0.2
aenum==3.1.15
Shapely==1.8.5.post1

# pilots
# CommonRoad
commonroad-io==2022.1
commonroad-drivability-checker==2022.1

# MPC controller-specific requirements
onnx==1.14.0
asyncua==1.0.3
do-mpc==4.6.0

## mpc-controller

loguru==0.7.2
numpy==1.24.1
scipy==1.10.1
onnx==1.14.0
asyncua==1.0.3
do-mpc==4.6.0
matplotlib==3.7.2
commonroad-vehicle-models==3.0.2
commonroad-io==2022.1
commonroad-drivability-checker==2022.1
opencv-python==4.8.0.74

