exclude = [
    "submodules"
]

[lint]
select = [
    "AIR001",
    "YTT",
    "ANN",
    "ASYNC",
    "S",
    "BLE",
    "B",
    "A",
    "COM",
    "C",
    "DTZ",
    "T",
    "DJ",
    "EM",
    "EXE",
    "FA",
    "INT",
    "ISC",
    "ICN",
    "LOG",
    "G",
    "INP",
    "PIE",
    "PYI",
    "PT",
    "Q",
    "RSE",
    "RET",
    "SLF",
    "SIM",
    "SLOT",
    "TID",
    "TCH",
    "ARG",
    "PTH",
    "FLY",
    "I",
    "NPY",
    "N",
    "PD",
    "PERF",
    "E",
    "W",
    "F",
    "PGH",
    "PLC",
    "PLE",
    "PLR",
    "PLW",
    "UP",
    "FURB",
    "RUF",
    "TRY",
]
ignore = [
    "ANN002",
    "ANN003",
    "ANN101",
    "ANN102",
    "PLR2004",
    "PLR0913",
    "PLR0915",
    "E501",
    "B019",
    "ERA001",  # commented-out-code
    "D",
    "I001",
    "FBT",
    "RET504",
    "C901",
    "SIM108",
    "TD",  # TODOs
    "FIX",  # Fixes
    "TRY002",
    "TRY003",
    "Q003",
    "COM812",
    "SIM103",
    "TID252",
    "RUF012",
    "SIM117"
]

[lint.per-file-ignores]
"__init__.py" = ["F401"]
"test/*.py" = ["F841", "S101", "T201", "ANN"]
